<script lang="ts">
	import { Canvas } from '@threlte/core';
	import { HTML } from '@threlte/extras';
	import { World } from '@threlte/rapier';
	import Scene from './PlaceScene.svelte';
	import UI from '$lib/components/UI.svelte';
	import LoginScene from './LoginScene.svelte';
	import Login from '$lib/components/Login.svelte';
	import { User } from '$lib/stores.js';
</script>

<div class="scene">
	{#if $User.loggedIn === false}
		<Login />
	{:else}
		<UI />
	{/if}

	<Canvas>
		{#if $User.loggedIn === false}
			<LoginScene />
		{:else}
			<World>
				<Scene />

				<HTML slot="fallback" transform>
					<p>
						It seems your browser<br />
						doesn't support WASM.<br />
						I'm sorry.
					</p>
				</HTML>
			</World>
			<p>{$User.id} logged in {$User.loggedIn} as {$User.name}</p>
		{/if}
	</Canvas>
</div>

<style>
	.scene {
		-webkit-transform: translate(0, 0);
		-moz-transform: translate(0, 0);
		transform: translate(0, 0);
		position: relative;
		width: 100vw;
		height: 100vh;
		background: rgb(13, 19, 32);
	}
</style>
