<script>
	import { User } from '$lib/stores.js';
	let value = '';
	let submittedValue = null;

	const handleValue = async (e) => {
		const description = e;

		const response = await fetch('/api/login', {
			method: 'POST',
			body: JSON.stringify({ description }),
			headers: {
				'Content-Type': 'application/json'
			}
		});

		const { id, name, loggedIn } = await response.json();

		$User = { id, name, loggedIn };

		e = '';
	};
	let src = './hpmsrh6x2sgzrk2wkchf.jpg';
</script>

<div class="boxes">
	<div class="box box--1" />
	<div class="box box--2">
		<form on:submit|preventDefault={() => handleValue(value)}>
			<br />
			<img {src} alt="hh logo" />
			<h1>Multipainter</h1>
			<label>
				Login:
				<input placeholder="nom@homehardware.ca" bind:value />
			</label>
			<button on:click={() => handleValue(value)}>GO</button>
		</form>
	</div>
	<div class="box box--3" />
</div>

<style>
	img {
		height: 7em;
		padding: 0.5em;
		background-color: white;
	}
	label {
		display: inline;
	}
	.boxes {
		position: absolute;
		color: white;
		box-sizing: border-box;
		display: flex;
		width: 80%;
		top: 50%;
		left: 50%;
		justify-content: center;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}

	.box {
		width: 30%;
		padding-bottom: 2em;
		text-align: center;
	}

	.box--1,
	.box--3 {
		border: 20px solid rgb(40, 10, 10);
		background: linear-gradient(180deg, rgba(200, 19, 32, 1) 0%, rgba(8, 0, 0, 1) 110%);
	}

	.box--1 {
		border-right-color: darkred;
		border-left-color: darkred;
	}

	.box--3 {
		border-left-color: darkred;
		border-right-color: darkred;
	}

	.box--2 {
		background: linear-gradient(180deg, rgba(200, 19, 32, 1) 0%, rgba(3, 0, 00, 1) 100%);
	}
</style>
