<script lang="ts">
	import { get } from 'svelte/store';
	import { CUBE_SIZE, hoverPos, UIselectedColor, UIphysTurnOn } from '$lib/stores.js';
	const geometry = new BoxGeometry(get(CUBE_SIZE), get(CUBE_SIZE), get(CUBE_SIZE));
	import { T, useTask } from '@threlte/core';
	import type { Event } from 'three';
	import { Collider, RigidBody } from '@threlte/rapier';
	import type { Euler } from 'three';
	import { BoxGeometry, BoxHelper, MeshStandardMaterial, Vector3 } from 'three';
	import type { TileBody } from './Tiles.svelte';

	export let body: TileBody;
	let position: Parameters<Vector3['set']> = body.position;
	let rotation: Parameters<Euler['set']> = body.rotation;
	let inpColor: string = body.color;

	import { interactivity, Text, useCursor } from '@threlte/extras';
	interactivity();
	import { DEG2RAD } from 'three/src/math/MathUtils.js';
	import Ground from './Ground.svelte';

	const { hovering, onPointerEnter, onPointerLeave } = useCursor();
	$: color = $hovering ? $UIselectedColor : body.color;
	$: material = new MeshStandardMaterial({ color: color, wireframe: true });

	var shouldUpdate = false;
	const onTheClicker = () => {
		shouldUpdate = true;
	};
	useTask(() => {
		if (shouldUpdate) body.color = get(UIselectedColor).toString();
		// todo: now send ws
		shouldUpdate = false;

		// todo: now read from ws
	});
</script>

<T.Group {position} {rotation}>
	{#if $UIphysTurnOn}
		<RigidBody type={'dynamic'}>
			<Collider shape={'cuboid'} args={[get(CUBE_SIZE), get(CUBE_SIZE), get(CUBE_SIZE)]} />
			<T.Mesh
				on:pointerenter={(e) => {
					$hovering = true;
					$hoverPos = e.position;
				}}
				on:pointerleave={(e) => ($hovering = false)}
				on:click={() => onTheClicker()}
				{geometry}
			>
				<T.MeshStandardMaterial {color} />
			</T.Mesh>
		</RigidBody>
	{:else}
		<T.Mesh
			on:pointerenter={(e) => {
				$hovering = true;
				$hoverPos = e.position;
			}}
			on:pointerleave={(e) => ($hovering = false)}
			on:click={() => onTheClicker()}
			{geometry}
		>
			<T.MeshStandardMaterial {color} />
		</T.Mesh>
	{/if}
</T.Group>
