<script lang="ts">
	import { T } from '@threlte/core';
	import { OrbitControls } from '@threlte/extras';
	import { Debug } from '@threlte/rapier';
	import Ground from './Ground.svelte';
	import Tiles from './Tiles.svelte';
	import { UIphysTurnOn, CUBE_SIZE, MAPLENGTH, MAPWIDTH, TILEHEIGHT } from '$lib/stores';
</script>

<T.PerspectiveCamera makeDefault position={[10, 0, 0]}>
	<OrbitControls
		enableZoom={true}
		panSpeed={0.5}
		enableRotate={false}
		maxPolarAngle={0}
		minPolarAngle={0}
		enableDamping
		target.y={0}
		target.x={0}
		zoom0={1}
		minDistance={$TILEHEIGHT + 2}
		maxDistance={$TILEHEIGHT + 12}
	/>
</T.PerspectiveCamera>

<T.DirectionalLight castShadow position={[8, 20, -3]} />

<!-- <T.GridHelper args={[50]} /> -->

<Tiles />

{#if $UIphysTurnOn}
	<Ground />
{/if}
