<script context="module" lang="ts">
	export type TileBody = {
		id: string;
		mounted: number;
		updated: number;
		color: string;
		xPos: number;
		yPos: number;
		position: Parameters<Vector3['set']>;
		rotation: Parameters<Euler['set']>;
	};

	export function processMessage(str: String) {
		var msg = str.split('|');
		var recTile = msg[0];
		var recColor = msg[1];
	}
</script>

<script lang="ts">
	import { useTask } from '@threlte/core';
	import type { Euler, Vector3 } from 'three';
	import Particle from './Particle.svelte';
	import { get } from 'svelte/store';

	import { MAPLENGTH, MAPWIDTH, CUBE_SIZE, TILEHEIGHT } from '$lib/stores.js';
	const getId = () => {
		return Math.random().toString(16).slice(2);
	};

	const getRandomPosition = (): Parameters<Vector3['set']> => {
		return [0.5 - Math.random() * 1, 5 - Math.random() * 1 + 10, 0.5 - Math.random() * 1];
	};

	const getRandomRotation = (): Parameters<Euler['set']> => {
		return [Math.random() * 10, Math.random() * 10, Math.random() * 10];
	};

	let lineOfbodies: TileBody[][] = Array.from({ length: $MAPLENGTH }, (p, x) => {
		return Array.from({ length: $MAPWIDTH }, (q, y) => {
			var now = Date.now();
			var colorI = 'white';
			const body: TileBody = {
				id: getId(),
				mounted: now,
				updated: now,
				color: colorI,
				position: [x * get(CUBE_SIZE), $TILEHEIGHT, y * get(CUBE_SIZE)],
				xPos: x,
				yPos: y,
				rotation: [0, 0, 0]
			};
			return body;
		});
	});

	// so on click, we need to change color, then we need to confirm with the WS
	// 1. We should be able to go into the body array
	// Let's print the index on the

	// let lastBodyMounted: number = 0
	// let bodyEveryMilliseconds = 100
	// let longevityMilliseconds = 8000
</script>

{#each lineOfbodies as bodyArr}
	{#each bodyArr as body (body.id)}
		<Particle {body} />
	{/each}
{/each}
