<script lang="ts">
	import { onMount } from 'svelte';

	let webSocketEstablished = false;
	let ws: WebSocket | null = null;
	let log: string[] = [];
	const logEvent = (str: string) => {
		log = [...log, str];
	};

	const establishWebSocket = () => {
		if (webSocketEstablished) return;
		const protocol = window.location.protocol === 'https:' ? 'wss:' : 'ws:';
		ws = new WebSocket(`${protocol}//${window.location.host}/websocket`);
		ws.addEventListener('open', (event) => {
			webSocketEstablished = true;
			console.log('[websocket] connection open', event);
			logEvent('[websocket] connection open');
		});
		ws.addEventListener('close', (event) => {
			console.log('[websocket] connection closed', event);
			logEvent('[websocket] connection closed');
		});
		ws.addEventListener('message', (event) => {
			// TODO: message processor -- update pixels, etc
			console.log('[websocket] message received', event);
			logEvent(`[websocket] message received: ${event.data}`);
		});
	};

	const requestData = async () => {
		const res = await fetch('/api/test');
		const data = await res.json();
		console.log('Data from GET endpoint', data);
		logEvent(`[GET] data received: ${JSON.stringify(data)}`);
	};

	import { User, UIselectedColor, UIphysTurnOn } from '$lib/stores.js';

	const setUIdrawcolor = (val: string) => {
		$UIselectedColor = val;
	};

	let value = '';
	let submittedValue = null;

	const handleValue = async (e) => {
		const description = e;

		const response = await fetch('/api/login', {
			method: 'POST',
			body: JSON.stringify({ description }),
			headers: {
				'Content-Type': 'application/json'
			}
		});

		const { id, name, loggedIn } = await response.json();

		$User = { id, name, loggedIn };

		e = '';
	};
	let src = './hpmsrh6x2sgzrk2wkchf.jpg';
	onMount(async () => {
		establishWebSocket();
	});
</script>

<div class="boxes">
	<div class="box box--1" />
	<div class="box box--2">
		<button disabled={webSocketEstablished} on:click={() => establishWebSocket()}>
			Establish WebSocket connection
		</button>

		<button on:click={() => requestData()}> Request Data from GET endpoint </button>

		<button on:click={() => setUIdrawcolor('red')}> draw red</button>
		<button on:click={() => setUIdrawcolor('yellow')}> draw yellow </button>
		<button on:click={() => setUIdrawcolor('blue')}> draw blue </button>
		<button on:click={() => setUIdrawcolor('black')}> draw black </button>
		<button on:click={() => setUIdrawcolor('white')}> draw white </button>
		<button on:click={() => ($UIphysTurnOn = !$UIphysTurnOn)}> PHYSICS </button>
		<!-- <ul>
			{#each log as event}
				<li>{event}</li>
			{/each}
		</ul> -->
	</div>
	<div class="box box--3" />
</div>

<style>
	img {
		height: 7em;
		padding: 0.5em;
		background-color: white;
	}
	label {
		display: inline;
	}
	.boxes {
		position: absolute;
		color: white;
		box-sizing: border-box;
		display: flex;
		width: 100%;
		/* top: 50%;
		left: 50%; */
		justify-content: center;
		/* -webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%); */
	}

	.box {
		width: 30%;
		padding-bottom: 2em;
		text-align: center;
	}

	.box--1,
	.box--3 {
		border: 20px solid rgb(40, 10, 10);
		background: linear-gradient(180deg, rgba(200, 19, 32, 1) 0%, rgba(8, 0, 0, 1) 110%);
	}

	.box--1 {
		border-right-color: darkred;
		border-left-color: darkred;
	}

	.box--3 {
		border-left-color: darkred;
		border-right-color: darkred;
	}

	.box--2 {
		background: linear-gradient(180deg, rgba(200, 19, 32, 1) 0%, rgba(3, 0, 00, 1) 100%);
	}
</style>
